.movie{
   width: 200px;
   height:200px;
   margin-top:45px;
}
.btn{
   float:right;
}
.container{
   background: powderblue;
   border: 1px solid
}
body{
   background: steelblue;
}
.submit-section{
   margin-right:140px;
}
.register-form{
   margin-top: 30px;
  width: 400px;
}